/Assignment_2/nbproject/private/
/Assignment_2/build/
/Lab4Skleton/build/
/Lab4Skleton/nbproject/private/
/Lab_4/build/
/Lab_4/nbproject/private/
/lab5_skeleton/dist/
/Assignment_5/nbproject/private/
/Assignment_5/build/
/Assignment_5/dist/